$cor_azul_escuro: #00244f;
$cor_azul_medio: $cor_azul_escuro;
$cor_input_bg: #ffffff;
$cor_input_color: $cor_azul_escuro;
$cor_branco: white;
$cor_amarelo: #ffff63;
$cor_laranja: #dd7711;
$cor_laranja_claro: #f39231;
$cor_cinza_escuro: #323232;
$base_text_size: 1.2rem;
$button_border_hover: 5px;

@mixin container(){
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

@font-face {
    font-family: Roboto;
    src: url("/fonts//Roboto/Roboto-Medium.ttf")
}
@font-face {
    font-family: Poppins;
    src: url("/fonts/Poppins/Poppins-Medium.ttf")
}
@mixin alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes button_focus{
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-.5rem);
    }
}

@keyframes button_focus_reverse{
    from {
        transform: translateY(-.5rem);
    }
    
    to {
        transform: translateY(0);
    }
}

@keyframes carrossel{
    from{
        transform: scale(100%);
        height: 60%;
        z-index: 20;
        
    }
    to{
        transform: scale(109%);
        height: 70%;
        z-index: 20;
    }
}

@keyframes carrossel_reverse{
    from{
        transform: scale(109%);
        height: 70%;
        z-index: 20;
    }
    to{
        transform: scale(100%);
        height: 60%;
        z-index: 20;
    }
}

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: fit-content;
    font-family: Poppins;
    background: $cor_branco;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
main{
    .main_img{
        width: inherit;
        height: 100%; //alterar para 100%
        background-image: url("/img/Empreendimento.jpg");
        background-position: center top;
        background-size: cover;
        color: white;
    }
    .aviso{
        background: $cor_branco;
        color: $cor_azul_escuro;
        font-size: $base_text_size;
        text-align: center;

        .content{
            .carrossel{
                display: none;
            }
        }
    }
}
footer{
    width: 100%;
    background: $cor_azul_escuro;
    padding: 2rem 0 8rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form{
    input{
        text-indent: 2rem;
        cursor: pointer;
    }
    input:hover, select:hover, .caixa_selecao:hover{
        background: rgba(255, 255, 255, 0.876);
    }
    input:focus, select:focus, .caixa_selecao:focus{
        outline: 2px solid $cor_laranja;
    }
    input, select{
        border-radius: $base_text_size * .5;
        width: 100%;
        font-family: Poppins;
        color: $cor_cinza_escuro;
        border: none;
        color: $cor_cinza_escuro;
    }
    button[type=submit]{
        background-image: linear-gradient(45deg, $cor_amarelo, $cor_laranja);
        box-shadow: 2px 2px 30px $cor_laranja;
        color: $cor_branco;
        font-weight: 600;
        font-size: $base_text_size;
        bottom: 0;
        border-radius: $base_text_size * .5;
        font-family: Poppins;
        z-index: 3;
        animation-name: button_focus_reverse;
        animation-duration: .3s;
        border: 0px solid $cor_laranja_claro;
        cursor: pointer;
        transform: translateY(0);
    }
    button:hover{
        animation-name: button_focus;
        animation-duration: .3s;
        transform: translateY(-.5rem);
    }

    
}

footer{
    .img_logo{
        width: 50vw;
        height: 10vw;
        background-image: url("/img/logoHorizontal_forBgBlue.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contato{
        display: flex;
        gap: 1rem;
        flex-direction: column;

        .item{
            display: grid;
            grid-template-columns: 6vw 3fr;
            color: $cor_branco;
            gap: 2rem;

            p{
                display: flex;
            }
            img{
                width: 6vw;
            }
        }

    }
}

.triangulos{
    display: block;
    width: 300px;
    height: 300px;
    background-image: url("/img/Triangulos.png");
    position: absolute;
    left: 0;
}

@media (max-width: 800px){
    main{
        .header{
            width: 100%;
            height: 25vw;
            background-image: url("/img/Titulo\ Formulario.png");
            background-position: center top;
            background-size: cover;
        }
        .main_img{
            z-index: 10;
        }
        .main_img::after{
            content: "";
            display: block;
            width: inherit;
            height: 4px;
            position: relative;
            top: 4px;
            background-image: linear-gradient(45deg, $cor_amarelo, $cor_laranja);
        }
        .aviso{
            padding: 1rem;
            .content{
                color: $cor_azul_escuro;
                background: rgba(255, 255, 255, 0.319);
            
                .title_carrossel{
                    display: none;
                }
            }

            .header{
                display: none
            }
        }
    }

    form{
        @include container();
        input{
            height: 15vw;
            font-size: .8* $base_text_size; 
        }
        .caixa_selecao{
            @include container();
            border-radius: $base_text_size * .3;
            background: $cor_branco;
            color: $cor_azul_escuro;
        }
        .list_radio{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
        .item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        input[type=radio]{
            width: 10vw;
            display: flex;
        }
        button[type=submit]{
            height: 15vw;
            position: fixed;
            width: calc(100% - 2rem);
            margin-bottom: 1rem;
        }
    }

}

@media (min-width: 800px){
    body{
        overflow-x: hidden;
    }
    main{
        .main_img{
            height: 100vh;
            min-height: 600px;
            top: 0;
            display: grid;
            grid-template-columns: 5fr 2fr;
            grid-template-rows: 15% 70% 15%;
            grid-template-areas: "aviso header" "aviso form" "aviso .";
            
            background: $cor_azul_medio;
            background-image: none;

            .header{
                display: none;
            }
            
            .aviso{
                background-image: url("/img/Empreendimento.jpg");
                background-size: cover;
                background-repeat: no-repeat;
    

                
                grid-area: aviso;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 6% 11% 65% 15%;
                grid-template-areas: "." "desktop_title" "content" ".";
                gap: 1rem;
                
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                .content{
                    @include container();
                    align-items: flex-start;
                    justify-content: start;
                    color: $cor_azul_escuro;
                    text-shadow: 10px 0 150px $cor_cinza_escuro;
                    grid-area: content;
                    height: 100%;
                    margin: 0 3rem;
                    gap: 2rem;

                    h1{
                        font-size: $base_text_size * 1.7;
                        background-color: $cor_laranja;
                        padding: .3rem 1.4rem;
                        border-radius: $base_text_size * .3 ;
                    }
                    
                    p{
                        font-size: $base_text_size;
                        background-color: $cor_branco;
                        padding: .2rem 1rem;
                        border-radius: $base_text_size * .3 ;
                    }

                    .carrossel{
                        display: block;
                        width: 80%;
                        height: 40vh;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 1rem;

                        .carrossel_img_1, .carrossel_img_2, .carrossel_img_3{
                            border-radius: $base_text_size * .3;
                            box-shadow: 0 10px 20px rgba(255, 255, 255, 0.759);
                            display: flex;
                            background-size: cover;
                            background-position: center;
                            border-bottom: 4px solid white;
                            animation-name: carrossel_reverse;
                            transform: scale(100%);
                            animation-duration: .5s;
                            width: 30%;
                            height: 60%;
                            z-index: 0;
                        }
                        .carrossel_img_1{
                            background-image: url("/img/cozinha.jpg");
                        }
                        .carrossel_img_2{
                            background-image: url("/img/cozinha1.jpg");
                        }
                        .carrossel_img_3{
                            background-image: url("/img/sacada.jpg");
                        }
                        
                        div:hover{
                            animation-name: carrossel;
                            animation-duration: .5s;
                            transform: scale(109%);
                            height: 70%;
                            z-index: 20;
                        }

                    }
                }
                .desktop_title{
                    background-image: url("/img/Chamber\ of\ Secrets.svg");
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: left;
                    grid-area: desktop_title;
                    align-self: center ;
                    width: 70%;
                    height: 100%;
                    margin: 0 3rem;

                }
            }
            .logo_bg_azul{
                background-image: url("/img/logoHorizontal_forBgBlue.png");
                margin-left: 4rem;
                background-position: left;
                width: calc(100% - 8rem);
                min-height: 60px;
                background-size: cover;

            }
            .logo_bg_branco, .logo_bg_azul{
                height: 100%;
                background-repeat: no-repeat;
                background-size: 30%;
            }
        }
        
    }

    main::after{
        content: "";
        display: block;
        width: 100vw;
        height: 4px;
        position: relative;
        background-image: linear-gradient(45deg, $cor_amarelo, $cor_laranja);
        z-index: 20;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 100vh;
        grid-area: form;
        gap: .9rem;
        margin: 0 4rem 0 4rem;

        button[type=submit]{
            height: 10vh;
            width: 100%;
            margin-bottom: 1rem;
            min-height: 60px;
            max-height: 50px;

        }
        input, select{
            height: 5vh;
            max-height: 50px;
            border-radius: .3rem;
            text-indent: 1rem;
            min-height: 30px;
            background: $cor_input_bg;
            color: $cor_input_color;
        }
        .caixa_selecao{
            @include container();
            border-radius: $base_text_size * .3;
            background: $cor_branco;
            color: $cor_azul_escuro;
            font-size: $base_text_size * .6;
        }
        .list_radio{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
        .item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 2rem;
        }
        input[type=radio]{
            width: 2vw;
            display: flex;
        }
    }
    footer{
        display: flex;
        background: $cor_azul_escuro;
        padding: 3vh 0 6vh 0;

        z-index: 10;
        box-shadow: -10px 0 80px black;
        
        .img_logo{
            background-size: 20%;
            height: 10vh;
            min-height: 63px;
        }
        
        .contato{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .item{
                display: grid;
                align-items: center;
                justify-content: center;
                
                img{
                    width: 3rem;
                }
            }
        }
    }
}
